.container {
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.logo_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: red;
}
.sections_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--orange);
}

.section {
  display: flex;
  background-color: blue;
}
